{% extends 'base.html.twig' %}

{% block title %}Insciption
{% endblock %}

{% block body %}
	<div class="container">
		<article class="row">
			<section class="col-3"></section>
			<section class="col-5 ml-5">
				<h1>Incription</h1>

				{{ form_start(registrationForm) }}
				{{ form_row(registrationForm.username) }}
				{{ form_row(registrationForm.plainPassword) }}
				{{ form_row(registrationForm.agreeTerms) }}

				<button class="btn btn-success">Valider</button>
				{{ form_end(registrationForm) }}
			</section>
		</article>
	</div>
{% endblock %}
{# ACCESS DENIED #}
