{% extends 'base.html.twig' %}

{% block title %}Petites annonces
{% endblock %}

{% block body %}
	<article class="row">
		<section class="col-12 mb-3">
			<article class="row">
				<section class="col-2"></section>
				<section class="col-6">
					<h1 class="text-secondary">
						Annonces

					</h1>
				</section>
			</article>
		</section>
	</article>

	<article class="row">
		<section class="col-12 mb-3">
			<article class="row">
				<section class="col-2"></section>
				<section class="col-6">
					<a class="btn btn-outline-success" href="{{ path('annonces_new') }}">Nouvelle annonce</a>
				</section>
			</article>
		</section>
	</article>


	<article class="row mt-3 ml-3">


		{% for annonce in annonces %}

			<section class="col-4 mt-5">

				<div class="card" style="width: 18rem;">

					{% if annonce.picture %}
						<img class="card-img-top" src="{{ vich_uploader_asset (annonce.picture, 'imageFile') | imagine_filter ('thumb') }}" alt="">
					{% endif %}

					<div class="card-body">
						<h5 class="card-title">{{ annonce.type }}</h5>
						<p class="card-text">{{ annonce.description }}</p>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">Nom :
							{{ annonce.nomPersonne }}</li>
						<li class="list-group-item">Date :
							{{ annonce.createdAt ? annonce.createdAt|date('Y-m-d') }}</li>
						<li class="list-group-item">Téléphone :
							{{ annonce.telephone }}</li>
					</ul>
					<div class="card-body">
						<a class="btn btn-primary" href="{{ path('annonces_edit', {'id': annonce.id}) }}">Modifier</a>
						<a class="btn btn-success" href="{{ path('annonces_show', {'id': annonce.id}) }}">Afficher les détails</a>
					</div>
				</div>
			</section>

		{% else %}

			<section class="col-1 mr-5"></section>
			<section class="col-6 ml-5 mt-5">
				<h1>Aucune annonce enregistrée</h1>
			</section>


		{% endfor %}
	</article>


{% endblock %}
